body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(120deg,#0f172a,#1e293b);
    color:white;
    display:flex;
    height:100vh;
}

.menu{
    width:280px;
    background:#065f46;
    padding-top:25px;
    box-shadow:4px 0 15px rgba(0,0,0,.5);
}

.menu h2{
    text-align:center;
    margin-bottom:30px;
}

.menu button{
    display:block;
    width:85%;
    margin:12px auto;
    padding:14px;
    border:none;
    background:#10b981;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
    text-align:left;
    transition:.25s;
}

.menu button:hover{
    background:#34d399;
    transform:translateX(10px);
}

.panel{
    flex:1;
    padding:50px;
    overflow:auto;
}

.tarjeta{
    background:#1e293b;
    padding:35px;
    border-radius:14px;
    box-shadow:0 15px 35px rgba(0,0,0,.6);
    animation:aparecer .4s ease;
}

@keyframes aparecer{
    from{opacity:0; transform:translateY(25px);}
    to{opacity:1; transform:translateY(0);}
}

h1{
    color:#34d399;
}

p, ul{
    line-height:1.7;
    font-size:18px;
}